* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: url(images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-family: arial;
}

.welcome {
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  font-family: Snell Roundhand, cursive;
  text-shadow:
    -0 -1px 1px #FFC0CB,
    0 -1px 1px #FFC0CB,
    -0 1px 1px #FFC0CB,
    0 1px 1px #FFC0CB,
    -1px -0 1px #FFC0CB,
    1px -0 1px #FFC0CB,
    -1px 0 1px #FFC0CB,
    1px 0 1px #FFC0CB,
    -1px -1px 1px #FFC0CB,
    1px -1px 1px #FFC0CB,
    -1px 1px 1px #FFC0CB,
    1px 1px 1px #FFC0CB,
    -1px -1px 1px #FFC0CB,
    1px -1px 1px #FFC0CB,
    -1px 1px 1px #FFC0CB,
    1px 1px 1px #FFC0CB;
}

.welcome_text {
  text-align: center;
  color: ##FFC0CB;
}

.topnav {
    background-color: #FFB6C1;
}

.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #DB7093;
  color: #000000;
}

.topnav_right {
  float: right;
}

.menu {
  width: 20%;
  padding: 20px;
  margin: 10px;
}

.content {
  width: 100%;
}

.menu a {
  background-color: #FFF0F5;
  color: #8B4513;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  display: block;
}

.menu a:hover {
  color: #000000;
}

.menu a.active {
  background-color: #000000;
  color: #FFFFFF;
}

.description {
  margin: 25px 20px;
  padding: 20px;
  color: #000000;
  background-color: #FFF0F5;
  border-color: #7FFFD4;
  border-width: 3px;
  border-radius: 25px;
  border-style: outset;
}
