body {
  margin: 0;
}

header {
  height: 120px;
  background-color:#B0E0E6;
}

.head1 {
  max-wight: 100%;
  padding: 10px;
}

.head2 {
  background-color:#FFC0CB;
  padding: 10px;
}

#image {
  float: left;
  margin: 10px;
  width: 100px;
  height: 100px;
}

.menu {
  max-width:960px;
  background-color:#B0E0E6;
  margin: 0 auto;
  margin-top:20px;
  padding:10px;
  text-align: center;
}

.content {
  max-width:960px;
  background-color:#B0E0E6;
  margin: 0 auto;
  margin-top:20px;
  padding:10px;
}

table tr:nth-child(odd) {
	background-color: #FFC0CB;
}

table tr:nth-child(even) {
	background-color: #7B68EE;
}

footer {
  height:60px;
  max-width:100%;
  background-color:#FFC0CB;
  margin-top:20px;
  padding: 10px;
}
