#hd {
    background-color:#6495ED;
    vertical-align: middle;
    height: 100%;
}

header img {
  height: 110px;
  width: 110px;
}

#ref {
    background-color: #B0E0E6;
}

#content {
  background-color:#B0E0E6;
}

table {
  border:1px;
}

th, td {
  width:200px;
  text-align: center;
}

table tr:nth-child(odd) {
  background-color: #FFC0CB;
}

table tr:nth-child(even) {
  background-color: #B0C4DE;
}

footer {
    background-color:#6495ED;
}
