header {
  height:120px;
  background-color:#efdecd;
}

.head1 {
  max-wight: 100%;
  margin: 0 auto;
  padding 10px;
}

.head2 {
  background-color:#cd7f32;
  margin: 0 auto;
  padding 10px;
}

#image {
	float: left;
	width: 50px;
	height: 50px;
}
