.slider {
    width: 50%;
    margin:auto;
    width: 85%;
}

.slider img{
    width: 85%;
    height: 85%;
    margin: 0 auto;
    background-color: white;
}

.titl{
    text-align: center;
    background-color: black;
    color: white;
}

#foot{
    background-color: black;
    color: white;
}
