body {
  margin: 0;
}

header {
  height: 120px;
  background-color:#B0E0E6;
}

.head1 {
  max-width: 100%;
  padding: 10px;
}

.head2 {
  background-color:#FFC0CB;
  padding: 10px;
}

#image {
  float: left;
  height: 110px;
  width: 110px;
}

nav {
  margin: 0 auto;
  max-width:960px;
  padding: 0;
  background-color:#B0E0E6;
}

.menu {
  margin:0;
  padding:10px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.menu_text {
  margin-right:30px;
}

.content {
  max-width:960px;
  background-color:#B0E0E6;
  margin: 0 auto;
  margin-top: 10px;
  padding:10px;
  display: flex;
  flex-direction: column;
}

th, td {
  border:1px;
  wigth:200px;
  text-align: center;
}

table tr:nth-child(odd) {
  background-color: #FFC0CB;
}

table tr:nth-child(even) {
  background-color: #B0C4DE;
}

footer {
  height:60px;
  max-width:100%;
  background-color:#FFC0CB;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-device-width:  960px) {
	#list {
		order:  0;
	}
	#table {
		order:  1;
	}
	#form {
		order:  2;
	}
