* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  height: 120px;
  background-color:#B0E0E6;
}

.head1 {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

.head2 {
  background-color:#FFC0CB;
  padding: 10px;
}

#logo {
  float: left;
  height: 110px;
  width: 110px;
}

nav {
  background-color:#B0E0E6;
  margin: 0 auto;
  max-width:960px;
  padding: 0;
}

#menu {
  margin:0;
  padding:10px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.content {
  max-width:960px;
  background-color:#B0E0E6;
  margin: 0 auto;
  margin-top: 10px;
  padding:10px;
  display: flex;
  flex-direction: column;
}

#image {
  max-width: 100%;	
}

table {
  border:1px;
  margin: 0 auto;
}

th, td {
  width:200px;
  text-align: center;
}

table tr:nth-child(odd) {
  background-color: #FFC0CB;
}

table tr:nth-child(even) {
  background-color: #B0C4DE;
}

footer {
  height:60px;
  max-width:100%;
  background-color:#FFC0CB;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
 .list {
	order:  0;
 }
 .form {
	order:  2;
 }
 .table {
	order:  1;
 }
 #menu {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
 }
