div {
  padding: 10px 0 10px 0;
}

body {
  margin 0 0 0 0;
}

header {
  height:120px;
  width: 100%;
  background-color:#efdecd;
  vertical-align:middle
}

.head1 {
  height: 100%;
  width: 100%;
  padding 10px;
}

#head2 {
  background-color:#cd7f32;
  padding 10px;
}

#image {
  float:left;
  width:100px;
  height:100px;
  margin 10px 0 0 10px
}

  tr:nth-child (odd) {
    background: #FA8072;
  }
  tr:nth-child (even) {
    background: #DC143C;
  }
</style>
