.slider {
    width: 50%;
    margin:auto;
    width: 85%;
}

body {
    background-color: #FFE4C4;
}

.slider img{
    height: 250px;
    margin: 0 auto;
}

.ex-num{
    position: relative;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
}

footer {
    background-color: #DEB887;
}
