header main {
    background-color:#6495ED;
    vertical-align: middle;
    height: 100%;
}

header img {
  height: 110px;
  width: 110px;
}

#ref {
    background-color: #B0E0E6;
}

#menu {
  margin:0;
  padding:10px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.content {
  max-width:960px;
  background-color:#B0E0E6;
  margin: 0 auto;
  margin-top: 10px;
  padding:10px;
  display: flex;
  flex-direction: column;
}

#image {
  max-width: 100%;	
}

table {
  border:1px;
  margin: 0 auto;
}

th, td {
  width:200px;
  text-align: center;
}

table tr:nth-child(odd) {
  background-color: #FFC0CB;
}

table tr:nth-child(even) {
  background-color: #B0C4DE;
}

footer {
  height:60px;
  max-width:100%;
  background-color:#6495ED;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.form {
  order: 1;
}

.table {
 order: 2;	
}

@media (min-width: 600px) {
 .table {
	order:  1;
 }
 .form {
	order:  2;
 }
 #menu {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
 }
}
