body {
  margin: 0;
}

header {
  height: 120px;
  background-color:#efdecd;
}

.head1 {
  max-wight: 100%;
  padding: 10px;
}

.head2 {
  background-color:#cd7f32;
  padding: 10px;
}

#image {
  float: left;
  margin: 10px;
  width: 100px;
  height: 100px;
}

.menu {
  max-width:960px;
  background-color:#efdecd;
  margin: 0 auto;
  margin-top:20px;
  padding:10px;
  text-align: center;
}

.content {
  max-width:960px;
  background-color:#efdecd;
  margin: 0 auto;
  margin-top:20px;
  padding:10px;
}

table tr:nth-child(odd) {
	background-color: #F08080;
}

table tr:nth-child(even) {
	background-color: #FFB6C1;
}

footer {
  height:60px;
  max-width:100%;
  background-color:#cd7f32;
  margin-top:20px;
  padding: 10px;
}
