* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  weight: 100%;
  background: url(images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-direction: column;
  display: flex;
}

.main_content {
  height: 400px;
  margin: 20px;
  color: #000000;
  display: flex;
  align-items: center;
}

#main_logo {
  max-height: 300px;
  max-wight: 300px;
  margin: 20px;
  display: flex;
  text-align: center;
}

#welcome {
  color: #FFFFFF;
  text-shadow: 
    -0   -1px 1px #1E90FF,
    0   -1px 1px #1E90FF,
    -0    1px 1px #1E90FF,
    0    1px 1px #1E90FF,
    -1px -0   1px #1E90FF,
    1px -0   1px #1E90FF,
    -1px  0   1px #1E90FF,
    1px  0   1px #1E90FF,
    -1px -1px 1px #1E90FF,
    1px -1px 1px #1E90FF,
    -1px  1px 1px #1E90FF,
    1px  1px 1px #1E90FF,
    -1px -1px 1px #1E90FF,
    1px -1px 1px #1E90FF,
    -1px  1px 1px #1E90FF,
    1px  1px 1px #1E90FF;
}
