* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  weight: 100%;
  background: url(images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
}

.main_content {
  height: 100%;
  weight: 100%;
  margin: 20px;
  color: #000000;
  display: flex;
  flex-direction: column;
}

#main_logo {
  display: block;
  max-height: 300px;
  max-wight: 300px;
  margin: 20px auto;
}
