* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  weight: 100%;
  background: url(images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.main_content {
  max-weight: 960px;
  margin: 20px;
  color: #000000;
  display: flex;
  text-align: center;
}

#main_logo {
  display: block;
  max-height: 300px;
  max-wight: 300px;
  margin: 20px auto;
}

#welcome {
  display: block;
  color: #FFFFFF;
  text-shadow:
    -0 -1px 1px #1E90FF,
    0 -1px 1px #1E90FF,
    -0 1px 1px #1E90FF,
    0 1px 1px #1E90FF,
    -1px -0 1px #1E90FF,
    1px -0 1px #1E90FF,
    -1px 0 1px #1E90FF,
    1px 0 1px #1E90FF,
    -1px -1px 1px #1E90FF,
    1px -1px 1px #1E90FF,
    -1px 1px 1px #1E90FF,
    1px 1px 1px #1E90FF,
    -1px -1px 1px #1E90FF,
    1px -1px 1px #1E90FF,
    -1px 1px 1px #1E90FF,
    1px 1px 1px #1E90FF;
}
