* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url("images/background.jpg");
  background-attachment: fixed;
  flex-direction: column;
  display: flex;
}

.main_content {
  margin: 20px;
  align-items: center;
  color: #000000;
}

#main_logo {
  margin: 20px;
  max-height: 600px;
  max-wight: 600px;
}

#welcome {
  color: #FFFFFF;
  text-shadow: 
    -0   -1px 1px #1E90FF,
    0   -1px 1px #1E90FF,
    -0    1px 1px #1E90FF,
    0    1px 1px #1E90FF,
    -1px -0   1px #1E90FF,
    1px -0   1px #1E90FF,
    -1px  0   1px #1E90FF,
    1px  0   1px #1E90FF,
    -1px -1px 1px #1E90FF,
    1px -1px 1px #1E90FF,
    -1px  1px 1px #1E90FF,
    1px  1px 1px #1E90FF,
    -1px -1px 1px #1E90FF,
    1px -1px 1px #1E90FF,
    -1px  1px 1px #1E90FF,
    1px  1px 1px #1E90FF;
}

.main_content_blocks {
  align-items: center;
  flex-wrap: wrap;
}

.block {
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #FFFFE0;
  border-color: #FF6347;
  border-width: 3px;
  border-style: outset;
}
